@model UserModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    * {
        box-sizing: border-box
    }
    .container {
        padding: 16px;
    }
    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }
        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }
    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }
    .registerbtn {
        background-color: #123456;
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }
        .registerbtn:hover {
            opacity: 1;
        }
    a {
        color: dodgerblue;
    }
    .signin {
        background-color: #f1f1f1;
        text-align: center;
    }
</style>

<form asp-controller = "Home" asp-action = "RegisterForm" method = "post">
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <label for="email"><b>Email</b></label>
        <input asp-for=Email type="text" placeholder="Enter Email" required>

        <label for="psw"><b>Password</b></label>
        <input asp-for=Password type="password" placeholder="Enter Password" required>

        <label><b>Confirm Password</b></label>
        <input asp-for=ConfirmPassword type="password" placeholder="Confirm Password" required>
        <hr>
        @if (SettingsModel.ErrorFlag == true)
        {
            <div>
                <p class="text-danger">The email has to have an @@ symbol and a dot (.)</p>
                <br/>
                <p class="text-danger">The password must be at least 8 characters long, have an upper and a lover case character, a special character and a number.</p>

            </div>
        }
        <button type="submit" class="registerbtn">Register</button>
    </div>

    <div class="container signin">
        <p>Already have an account? <a asp-controller="Home" asp-action="Login"> Sign in</a>.</p>
    </div>
</form>